<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!mamba install pandas==1.3.3 -y
!mamba install requests==2.26.0 -y

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['pandas==1.3.3']

pkgs/r/linux-64          [<=>                 ] (00m:00s)
pkgs/r/linux-64          [=>                ] (00m:00s) 495  B / ?? (3.18 KB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 495  B / ?? (3.18 KB/s)
pkgs/main/linux-64       [<=>                 ] (00m:00s)
pkgs/r/linux-64          [=>                ] (00m:00s) 495  B / ?? (3.18 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/r/linux-64          [=>                ] (00m:00s) 495  B / ?? (3.18 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s)
pkgs/r/linux-64          [=>                ] (00m:00s) 495  B / ?? (3.18 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 720 KB / ?? (2.33 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 495  B / ?? (3.18 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 720 KB / ?? (2.33 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 784 KB / ?? (2.53 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 720 KB / ?? (2.33 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 784 KB / ?? (2.53 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 720 KB / ?? (2.33 MB/s)
pkgs/r/noarch            [<=>                 ] (00m:00s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 784 KB / ?? (2.53 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 720 KB / ?? (2.33 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 740 KB / ?? (2.40 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 784 KB / ?? (2.53 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s) Finalizing...
pkgs/r/noarch            [=>                ] (00m:00s) 740 KB / ?? (2.40 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 784 KB / ?? (2.53 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/main/noarch         [<=>                 ] (00m:00s) Done
pkgs/r/noarch            [=>                ] (00m:00s) 740 KB / ?? (2.40 MB/s)
pkgs/main/noarch         [====================] (00m:00s) Done
pkgs/r/linux-64          [<=>               ] (00m:00s) 784 KB / ?? (2.53 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [=>                ] (00m:00s) 740 KB / ?? (2.40 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 784 KB / ?? (2.53 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [<=>                 ] (00m:00s) Finalizing...
pkgs/r/linux-64          [<=>               ] (00m:00s) 784 KB / ?? (2.53 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/r/noarch            [<=>                 ] (00m:00s) Done
pkgs/r/noarch            [====================] (00m:00s) Done
pkgs/r/linux-64          [<=>               ] (00m:00s) 784 KB / ?? (2.53 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) Finalizing...
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/r/linux-64          [====================] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 688 KB / ?? (2.22 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 1 MB / ?? (3.12 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 1 MB / ?? (3.12 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (3.56 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 2 MB / ?? (3.56 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 3 MB / ?? (3.77 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 3 MB / ?? (3.77 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 4 MB / ?? (3.97 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 4 MB / ?? (3.97 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 4 MB / ?? (4.13 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) Finalizing...
pkgs/main/linux-64       [     <=>            ] (00m:00s) Done
pkgs/main/linux-64       [====================] (00m:00s) Done

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - pandas==1.3.3
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build           Channel                  Size
────────────────────────────────────────────────────────────────────────────────
  Change:
────────────────────────────────────────────────────────────────────────────────

  - openssl              1.1.1s  h0b41bf4_1      installed
  + openssl              1.1.1s  h7f8727e_0      pkgs/main/linux-64       4 MB

  Upgrade:
────────────────────────────────────────────────────────────────────────────────

  - ca-certificates   2022.9.24  ha878542_0      installed
  + ca-certificates  2022.10.11  h06a4308_0      pkgs/main/linux-64     124 KB
  - certifi           2022.9.24  pyhd8ed1ab_0    installed
  + certifi           2022.12.7  py37h06a4308_0  pkgs/main/linux-64     150 KB

  Downgrade:
────────────────────────────────────────────────────────────────────────────────

  - pandas                1.3.5  py37h8c16a72_0  installed
  + pandas                1.3.3  py37h8c16a72_0  pkgs/main/linux-64       9 MB

  Summary:

  Change: 1 packages
  Upgrade: 2 packages
  Downgrade: 1 packages

  Total download: 13 MB

────────────────────────────────────────────────────────────────────────────────

Downloading  [>                                        ] (00m:00s)  846.92 KB/s
Extracting   [>                                                      ] (--:--)
Finished ca-certificates                      (00m:00s)             124 KB    843 KB/s
Downloading  [>                                        ] (00m:00s)  846.92 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  846.92 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  846.92 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  922.56 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)  922.56 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [===>                                     ] (00m:00s)    8.60 MB/s
Extracting   [>                                                      ] (--:--)
Downloading  [===>                                     ] (00m:00s)    8.60 MB/s
Extracting   [>                                                      ] (--:--)
Downloading  [====>                                    ] (00m:00s)    9.30 MB/s
Extracting   [>                                                      ] (--:--)
Finished certifi                              (00m:00s)             150 KB    977 KB/s
Downloading  [====>                                    ] (00m:00s)    9.30 MB/s
Extracting   [>                                                      ] (--:--)
Downloading  [====>                                    ] (00m:00s)    9.30 MB/s
Extracting   [>                                                      ] (--:--)
Downloading  [====>                                    ] (00m:00s)    9.30 MB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Downloading  [====>                                    ] (00m:00s)    9.30 MB/s
Extracting   [==========>                              ] (00m:00s)        1 / 4
Downloading  [====>                                    ] (00m:00s)    9.30 MB/s
Extracting   [====================>                    ] (00m:00s)        2 / 4
Downloading  [===========>                             ] (00m:00s)   22.97 MB/s
Extracting   [====================>                    ] (00m:00s)        2 / 4
Finished openssl                              (00m:00s)               4 MB     21 MB/s
Downloading  [===========>                             ] (00m:00s)   22.97 MB/s
Extracting   [====================>                    ] (00m:00s)        2 / 4
Downloading  [===========>                             ] (00m:00s)   22.97 MB/s
Extracting   [====================>                    ] (00m:00s)        2 / 4
Downloading  [===========>                             ] (00m:00s)   22.97 MB/s
Extracting   [====================>                    ] (00m:00s)        2 / 4
Downloading  [=========================================] (00m:00s)   52.55 MB/s
Extracting   [====================>                    ] (00m:00s)        2 / 4
Downloading  [=========================================] (00m:00s)   52.55 MB/s
Extracting   [==============================>          ] (00m:00s)        3 / 4
Finished pandas                               (00m:00s)               9 MB     37 MB/s
Downloading  [=========================================] (00m:00s)   52.55 MB/s
Extracting   [==============================>          ] (00m:00s)        3 / 4
Downloading  [=========================================] (00m:00s)   52.55 MB/s
Extracting   [==============================>          ] (00m:00s)        3 / 4
Downloading  [=========================================] (00m:00s)   52.55 MB/s
Extracting   [==============================>          ] (00m:00s)        3 / 4
Downloading  [=========================================] (00m:00s)   52.55 MB/s
Extracting   [=========================================] (00m:00s)        4 / 4
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['requests==2.26.0']

pkgs/main/linux-64       Using cache
pkgs/main/noarch         Using cache
pkgs/r/linux-64          Using cache
pkgs/r/noarch            Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - requests==2.26.0
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build         Channel               Size
───────────────────────────────────────────────────────────────────────────
  Downgrade:
───────────────────────────────────────────────────────────────────────────

  - charset-normalizer    2.1.1  pyhd8ed1ab_0  installed
  + charset-normalizer    2.0.4  pyhd3eb1b0_0  pkgs/main/noarch     35 KB
  - requests             2.28.1  pyhd8ed1ab_1  installed
  + requests             2.26.0  pyhd3eb1b0_0  pkgs/main/noarch     59 KB

  Summary:

  Downgrade: 2 packages

  Total download: 94 KB

───────────────────────────────────────────────────────────────────────────

Downloading  [==============>                          ] (00m:00s)  261.69 KB/s
Extracting   [>                                                      ] (--:--)
Finished charset-normalizer                   (00m:00s)              35 KB    261 KB/s
Downloading  [==============>                          ] (00m:00s)  261.69 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [==============>                          ] (00m:00s)  261.69 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [==============>                          ] (00m:00s)  261.69 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [=========================================] (00m:00s)  689.72 KB/s
Extracting   [>                                                      ] (--:--)
Finished requests                             (00m:00s)              59 KB    435 KB/s
Downloading  [=========================================] (00m:00s)  689.72 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [=========================================] (00m:00s)  689.72 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [=========================================] (00m:00s)  689.72 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  689.72 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  689.72 KB/s
Extracting   [=========================================] (00m:00s)        2 / 2
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

## Imports

Import any additional libraries you may need here.

In [1]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [2]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-01-11 20:11:14--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-01-11 20:11:14 (20.8 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2023-01-11 20:11:15--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-01-11 20:11:15 (7.79 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2023-01-11 20:11:16--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2023-01-11 20:11:16 (3.58 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [3]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [4]:
columns=['Name','Market Cap (US$ Billion)']

In [5]:
def extract():
    # Write your code here
    extracted = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    for jsonfile in glob.glob("*.json"):
        extracted = extracted.append(extract_from_json(jsonfile), ignore_index=True)
        
    return extracted

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [34]:

exchange_rate=extract()
exchange_rate

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
100                             Ping An Bank                    37.993
101                       Standard Chartered                    37.319
102                     United Overseas Bank                    35.128
103                                QNB Group                    33.560
104                              Bank Rakyat                    33.081

[105 rows x 2 columns]


## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [35]:
def transform(records):
    # Write your code here
    records['Market Cap (US$ Billion)'] = round(0.7324 * records['Market Cap (US$ Billion)'], 3)
    records.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'}, inplace=True)
    return records

transformed = transform(exchange_rate)
transformed

                                        Name  Market Cap (GBP$ Billion)
0                             JPMorgan Chase                    286.320
1    Industrial and Commercial Bank of China                    252.835
2                            Bank of America                    238.272
3                                Wells Fargo                    225.589
4                    China Construction Bank                    188.519
..                                       ...                        ...
100                             Ping An Bank                     27.826
101                       Standard Chartered                     27.332
102                     United Overseas Bank                     25.728
103                                QNB Group                     24.579
104                              Bank Rakyat                     24.229

[105 rows x 2 columns]

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [93]:
def load(csv_file,records):
    # Write your code here
    records.to_csv(csv_file, index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [ ]:
def log(log_message):
    # Write your code here
    time_format = '%Y-%h-%d-%H:%M:%S' 
    now = datetime.now()
    timestamp = now.strftime(time_format)
    with open("loggingfile.txt","a") as f:
        f.write(timestamp + ',' + log_message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [ ]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [32]:
# Call the function here
exchange_rate=extract()
# Print the rows here
exchange_rate.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [ ]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [ ]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [33]:
# Call the function here
transformed = transform(exchange_rate)
# Print the first 5 rows here
transformed.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.320
1  Industrial and Commercial Bank of China                    252.835
2                          Bank of America                    238.272
3                              Wells Fargo                    225.589
4                  China Construction Bank                    188.519

Log your data <code>"Transform phase Ended"</code>

In [ ]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [ ]:
# Write your code here
log("Load phase Started")

Call the load function

In [94]:
# Write your code here
load('market_cap.csv',transformed)

Log the following `"Load phase Ended"`.

In [ ]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).